<div class="row">
    <% response.forEach(foto => { %>
      <div class="card mb-2 col-lg-3">
        <img src="<%= foto.image_url  %>" height="160px" class="card-img-top" alt="image">
        <div class="card-body">
          <h5 class="card-title"><%= foto.title %> </h5>
          <strong class="card-text"><%=  foto.caption %> </strong><br><br>
          <p style="float: right;" ><%= foto.User.username %>(pemilik) </p><br><br>
          <% if (user.username==foto.User.username) { %>
            <div class="d-flex mt-2">
              <a class="btn btn-primary mx-4" href="/updatephoto/<%= foto.id %> ">update</a>
              <a class="btn btn-danger" href="/delphoto/<%=foto.id %> ">delete</a>
            </div>
          <% } %>
        </div>
    </div>
    <% }) %>
</div>